    * {
      box-sizing: border-box;
      font-family: sans-serif;
    }
    .logo{
      margin: 2%;
      float: left;
    }
    
    .cap {
      background-color:#ff9;
      padding: 0;
    }
        
    .menu {
      float: right;
      margin-top:20px;
      font-size:1.5em;
      font-weight: bold;
      width: auto;
    }

    .main {
      float: left;
      width: 60%;
      padding: 0 20px;
    }

    .right {
      background-color: #e5e5e5;
      float: left;
      width: 20%;
      padding: 10px;
    }
    
    .peu {
      background-color:#eee;
      text-align:center;
      padding:10px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #1ff;
    }
    
    li {
        float: left;
    }

    li a {
        display: inline;
        color: #fff;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a:hover {
        color: #eee;
        text-decoration: underline;
    }
    
    @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
    }
